
//- ----------------------------------------------------------------------------
//- utils
//- ----------------------------------------------------------------------------


mixin _proxy(elementTag, id, attrs, level, hasSubmenu, attrsExtender, data, content)
  -function extAttrs() {
  -  var res = (typeof attrsExtender === "function") ? attrsExtender(elementTag, level, hasSubmenu) : {};
  -  return res ? res : {};
  -}
  -var elemSel = id + "::attributes"
  -var insertedAttrs = (data && data[elemSel]) ? data[elemSel] : {}
  -if(content === false)
    #{elementTag}(id=id)&attributes(attrs, extAttrs(), insertedAttrs)
  -else if(content)
    #{elementTag}(id=id)&attributes(attrs, extAttrs(), insertedAttrs) #{content}
  -else
    #{elementTag}(id=id)&attributes(attrs, extAttrs(), insertedAttrs)
      block

mixin _insertHelper(elem, data, suffix, position)
  -var elemSel = elem.id + suffix + position
  -if(data && (elemSel in data))
    -var insertData = data[elemSel]
    -if(insertData instanceof Array)
      -var name = insertData[0], args = insertData.slice(1)
      +#{name}(args[0], args[1], args[2], args[3], args[4], args[5], args[6], args[7], args[8], args[9])
    -else
      | !{insertData}

mixin _BE(elem, data, suffix)
  +_insertHelper(elem, data, suffix, "::before")

mixin _AE(elem, data, suffix)
  +_insertHelper(elem, data, suffix, "::after")


//- ----------------------------------------------------------------------------
//- Menu generation
//- ----------------------------------------------------------------------------

mixin _makeEntryData(item, data, attrsExtender, level, hasSubmenu)
  +_BE(item, data, "--link")
  +_proxy("a", item.id + "--link", item.linkAttrs, level, hasSubmenu, attrsExtender, data)
    +_BE(item, data, "--label")
    +_proxy("span", item.id + "--label", item.labelAttrs, level, hasSubmenu, attrsExtender, data, item.label)
    +_AE(item, data, "--label")
  +_AE(item, data, "--link")

mixin _menuRec(items, data, attrsExtender, level)
  for item in items
    -var hasSubmenu = (item instanceof Array)
    +_proxy("li", item.id, item.attrs, level, hasSubmenu, attrsExtender, data)
      +_makeEntryData(item, data, attrsExtender, level, hasSubmenu)
      if(hasSubmenu)
        +_BE(item, data, "--list")
        +_proxy("ul", item.id + "--list", item.listAttrs, level+1, hasSubmenu, attrsExtender, data)
          +_menuRec(item, data, attrsExtender, level+1)
        +_AE(item, data, "--list")

//- menu generation interface mixin
mixin Menu(menuData, data, attrsExtender)
  -function normalise(name) {
  -  if(name[0] === "@") {
  -    return menuData.id + name.slice(1);
  -  }
  -  return name;
  -}
  -var nData = {}
  -for(var selector in data) {
  -  if(data.hasOwnProperty(selector)) {
  -    nData[normalise(selector)] = data[selector]
  -  }
  -}
  +_proxy("ul", menuData.id, menuData.listAttrs, 0, true, attrsExtender, nData)
    +_menuRec(menuData, nData, attrsExtender, 0)
